@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
html, body {
  background-color: #f6f6fe;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #494c5f;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-weight: bold;
  margin: 3rem auto 2rem;
  text-align: center;
}

.switch {
  align-items: middle;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.switch__text {
  display: inline-block;
  color: #b3b5c6;
  margin: auto 1rem;
}
.switch__box {
  cursor: pointer;
  display: inline-block;
  height: 26px;
  width: 48px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.switch__box input {
  cursor: pointer;
  height: 0px;
  opacity: 0;
  width: 0px;
}
.switch__box input:checked + .switch__slider {
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  transition: 0.4s ease-out;
}
.switch__box input:checked + .switch__slider:before {
  left: auto;
  right: 4px;
}
.switch__box:hover {
  opacity: 0.8;
}
.switch__slider {
  background-color: #dedede;
  border-radius: 24px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.switch__slider:before {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  width: 18px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: auto;
  -webkit-transition: 0.2 ease-out;
  transition: 0.2s ease-out;
}

.pricing {
  margin-bottom: 2rem;
  padding: 0px 1.4rem;
  text-align: center;
}
.pricing__box {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: auto;
  max-width: 440px;
  padding: 1.5rem 0px;
  width: 100%;
}
.pricing:nth-child(even) .pricing__box {
  background-image: linear-gradient(to bottom, #a3a8f0, #696fdd);
  color: #fff;
}
.pricing:nth-child(even) .pricing__btn button {
  background-color: #fff;
  background-image: none;
  color: #696fdd;
}
.pricing:nth-child(even) .pricing__btn button:hover {
  background-color: transparent;
  border-color: #d2d2f9;
  color: #fff;
}
.pricing__price {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  margin: 0px;
}
.pricing__price span {
  font-size: 4.5rem;
}
.pricing__offers {
  list-style: none;
  padding: 0px;
}
.pricing__offers li {
  display: block;
  padding: 1rem 0px;
  margin: 0px 1.5rem;
}
.pricing__offers li:first-child, .pricing__offers li:last-child {
  border: 1px solid #d2d2f9;
  border-left: transparent;
  border-right: transparent;
}
.pricing__btn {
  background: transparent;
  margin: 0px;
  padding: 0.8rem 1.5rem;
}
.pricing__btn button {
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  border-width: 2px;
  border-color: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 100%;
  outline: none;
  padding: 0.8rem 0px;
  transition: 0.3s;
  width: 100%;
}
.pricing__btn button:hover {
  background-color: #fff;
  background-image: none;
  border: 2px solid #696fdd;
  color: #696fdd;
}

@media only screen and (min-width: 768px) {
  .pricing-card {
    box-sizing: border-box;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto auto;
    margin: auto;
    max-width: 1024px;
    padding-top: 1rem;
    padding: 1rem 0.5rem 0px;
  }
  .pricing-card .pricing {
    padding: 0px;
  }
  .pricing-card .pricing__box {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .pricing-card .pricing:nth-child(even) {
    transform: scaleY(1.1);
  }
}

/*# sourceMappingURL=App.css.map */
