$primary-gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$light: hsl(240, 78%, 98%);
$light-gray: hsl(234, 14%, 74%);
$gray: hsl(233, 13%, 49%);
$dark-gray: hsl(232, 13%, 33%);
