@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import './variables';
@import './switcher';

html {
  font-size: 15px;
}

body {
  background-color: hsl(240, 78%, 98%);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// mobile
h1 {
  color: hsl(232, 13%, 33%);
  font-weight: bold;
  margin: 3rem auto 2rem;
  text-align: center;
}
